# Maven Files and Directories
dependency-reduced-pom.xml
target/

# Maven release plugin
q

# IntelliJ Files and Directories
.idea/
*.iml

# Eclipse Files and Directories
.classpath
.project
.settings/

# Vagrant runtime directory
.vagrant/

### Maven template
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#velocity
velocity.log
