# Maven Files and Directories
dependency-reduced-pom.xml
target/

# IntelliJ Files and Directories
.idea/
*.iml

# Eclipse Files and Directories
.classpath
.project
.settings/

# Vagrant runtime directory
.vagrant/