<div ng-controller="UserCtrl" ng-init="init()">
    <input class="searchBox" placeholder="{{searchBoxPlaceholderText|translate}}" type="text" ng-model="searchText">
    <label class="label-info">{{resultMessage}}</label>
    <table>
        <tr>
            <th class="icon">
                <a href="javascript:;" ng-evaluate-rule="manage-users,CREATE" ng-click="openAddUser()"><img src="resources/img/add.png" /></a>
            </th>
            <th ng-repeat="header in headers">
                <span>{{header|translate}}</span>
            </th>
        </tr>
        <tr ng-repeat="user in users | filter:searchText | orderBy:'userName'">
            <td>
                <a href="javascript:;" ng-click="openUserDetails(user)"><img class="icon" src="resources/img/search.png" /></a>
            </td>
            <td>
                <span>{{user.userName}}</span>
            </td>
            <td>
               <input type="checkbox" ng-checked="isUserInactive(user)" disabled="disabled" />
            </td>
            <td>
                <span>{{user.name}}</span>
            </td>
            <td>
                <span>{{user.firstName}}</span> 
            </td>    
        </tr>
    </table>
</div>
