<div ng-init="init()">
    <div class="modal-header">
        <p translate="newuserwizard.step1"></p>
    </div>
    <div class="modal-body">
        <tabset>
            <tab ng-repeat="tab in tabs" heading="{{tab.title|translate}}" active="tab.active" ng-hide="tab.hidden" select="tab.clickAction()">
                <div id="tabContent" ng-include="tab.url">
                </div>
            </tab>
        </tabset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()"><span translate="user.create"></span></button>
        <button class="btn btn-warning" ng-click="cancel()"><span translate="user.close"></span></button>
    </div>
</div>
