<div ng-init="init()">
  <div class="modal-header">
      <p translate="newuserwizard.step1"></p>
  </div>
  <div class="modal-body">
        <div class="control">
            <label class="control-label" for="username"><span translate="user.username"></span></label>
            <input type="text" id="username" ng-model="user.userName" />
        </div>

        <div class="control">
            <label class="control-label" for="lastname"><span translate="user.name"></span></label>
            <input type="text" id="lastname" ng-model="user.name" />
        </div>

        <div class="control">
            <label class="control-label" for="firstname"><span translate="user.firstname"></span></label>
            <input type="text" id="firstname" ng-model="user.firstName" />    
        </div>

        <div class="control">
            <label class="control-label" for="language"><span translate="user.language"></span></label>
            <select id="language" ng-model="user.language">
                <option value="en_US">{{"language.english"|translate}}</option>
                <option value="nl_NL">{{"language.dutch"|translate}}</option>
                <option value="fr_FR">{{"language.french"|translate}}</option>
            </select>
        </div>
      
        <div class="control">
            <label class="control-label" for="status"><span translate="user.status"></span></label>
            <select id="status" ng-model="user.status">
                <option value="ACTIVE">{{"status.active"|translate}}</option>
                <option value="INACTIVE">{{"status.inactive"|translate}}</option>
                <option value="BLOCKED">{{"status.blocked"|translate}}</option>
            </select>
        </div>

        <div class="control">
            <label class="control-label" for="successURL"><span translate="user.successurl"></span></label>
            <select id="successUrl" ng-model="user.successUrl" ng-options="u for u in successUrls">
            </select>
        </div>

        <div class="control">
            <label class="control-label" for="changePassword"><span translate="user.changepassword"></span></label>
            <input type="checkbox" id="changePassword" ng-model="changePassword" />
        </div>
   </div>  
   <div class="modal-footer">
       <button class="btn btn-primary" ng-click="save()"><span translate="user.create"></span></button>
       <button class="btn btn-secondary"><span translate="user.resetpassword"></span></button>
       <button class="btn btn-warning" ng-click="cancel()"><span translate="user.close"></span></button>
   </div>
</div>