<html>
<head>
    <title>Informations d'utilisateur pour [application]</title>
</head>
<body>
<div>
    <p>Madame, Monsieur,</p>
    <br/>
    <p style="margin:0px">Vous avez été enregistré comme utilisateur e-services ou comme utilisateur de l'[application].</p>
#if( $links.size() == 0)
    <p style="margin:0px">Normalement il y aurait un lien pour mettre à jour votre mot de passe mais quelquechose a failli. S.v.p. contacter votre administrateur.</p>
#elseif( $links.size() == 1)
    <p style="margin:0px">En cliquant sur le lien suivant, vous aurez la possibilité de mettre à jour votre mot de passe.</p>
    <br/>
    <a href="$links.get(0)">$links.get(0)</a>
#else
    <p style="margin:0px">En cliquant sur un des liens suivants, vous aurez la possibilité de mettre à jour votre mot de passe.</p>
#foreach( $link in $links )
    <br/>
    <a href="$link">$link</a>
#end
#end
    <br/>
    <p style="margin:0px">Cordialement,</p>
    <br/>
    <p style="margin:0px">Votre provisioneur de sécurité.</p>
    <p><i>Cet e-mail est généré automatiquement. Veuillez ne pas y répondre. Pour toute question, vous pouvez contacter votre administrateur.</i></p>
</div>
</body>
</html>