<html>
<head>
    <title>Informations d'utilisateur pour [application]</title>
</head>
<body>
<div>
    <p>Madame, Monsieur,</p>
    <br/>
    <p style="margin:0px">Vous avez été enregistré comme utilisateur e-services ou comme utilisateur de l'[application].</p>
    <p style="margin:0px">En cliquant sur le lien suivant, vous aurez la possibilité de mettre à jour votre mot de passe.</p>
    <br/>
    <a href="$link">$link</a>
    <br/>
    <p style="margin:0px">Cordialement,</p>
    <br/>
    <p style="margin:0px">Votre provisioneur de sécurité.</p>
    <p><i>Cet e-mail est généré automatiquement. Veuillez ne pas y répondre. Pour toute question, vous pouvez contacter votre administrateur.</i></p>
</div>
</body>
</html>