<html>
<head>
    <title>Mise à jour de mot de passe</title>
</head>
<body>
<div>
    <p>Madame, Monsieur,</p>
    <br/>
    <p style="margin:0px">vous avez introduit une demande de renouvellement de mot de passe sur notre site Internet.</p>
#if( $links.size() == 0)
    <p style="margin:0px">Normalement il y aurait un lien pour mettre à jour votre mot de passe mais quelquechose a failli. S.v.p. contacter votre administrateur.</p>
#elseif( $links.size() == 1)
    <p style="margin:0px">En cliquant sur le lien suivant, vous aurez la possibilité de mettre à jour votre mot de passe.</p>
    <br/>
    <a href="$links.get(0)">$links.get(0)</a>
#else
    <p style="margin:0px">En cliquant sur un des liens suivant, vous aurez la possibilité de mettre à jour votre mot de passe.</p>
    #foreach( $link in $links )
        <br/>
        <a href="$link">$link</a>
    #end
#end
    <br/>
    <p style="margin:0px">Cordialement,</p>
    <br/>
    <p style="margin:0px">Votre provisioneur de sécurité.</p>
    <p><i>Cet e-mail est généré automatiquement. Veuillez ne pas y répondre. Pour toutes questions, vous pouvez contacter votre administrateur.</i></p>
</div>
</body>
</html>