<html>
<head>
    <title>Gebruikersinfo voor [toepassing]</title>
</head>
<body>
<div>
    <p>Beste,</p>
    <br/>
    <p style="margin:0px">U werd zonet geregistreerd als gebruiker van [toepassing].</p>
    <p style="margin:0px">Door te klikken op onderstaande link hebt u de mogelijkheid om uw paswoord in te stellen.</p>
    <br/>
    <a href="$link">$link</a>
    <br/>
    <p style="margin:0px">Met vriendelijke groeten,</p>
    <br/>
    <p style="margin:0px">Uw beveiligingsvoorziener</p>
    <p><i>Dit is een automatisch aangemaakte mail. Gelieve geen reply te doen. Bij vragen kan u uw administrator contacteren.</i></p>
</div>
</body>
</html>