<html>
<head>
    <title>Reset password</title>
</head>
<body>
<div>
    <p>Dear,</p>
    <br/>
    <p style="margin:0px">You recently requested a password change through our website.</p>
    <p style="margin:0px">To reset your password, please follow the link below.</p>
    <br/>
    <a href="$link">$link</a>
    <br/>
    <p style="margin:0px">Kind regards,</p>
    <br/>
    <p style="margin:0px">Your social security fund</p>
    <p><i>This is an automatically created email. Do not reply. Contact your social security fund if you have further questions.</i></p>
</div>
</body>
</html>