<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2013-2017 Simba Open Source
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

  <context:component-scan base-package="org.simbasecurity.refimpl" />
  <context:property-placeholder location="simba.properties"/>

  <bean name="standardAuditLogProvider" class="org.simbasecurity.core.audit.provider.DatabaseAuditLogProvider">
    <property name="databaseTable" value="SIMBA_AUDIT_LOG" />
    <property name="level" value="ALL" />
  </bean>
  
  <bean name="archivedAuditLogProvider" class="org.simbasecurity.core.audit.provider.DatabaseAuditLogProvider">
    <property name="databaseTable" value="SIMBA_ARCHIVED_AUDIT_LOG" />
    <property name="level" value="INFO" />
  </bean>

  <bean class="org.simbasecurity.core.service.communication.mail.SmtpMailService">
    <constructor-arg name="javaMailSender">
      <bean class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${simba.smtp.host}"/>
        <property name="port" value="${simba.smtp.port}"/>
        <property name="javaMailProperties">
          <map>
            <entry key="mail.transport.protocol" value="${mail.transport.protocol}"/>
            <entry key="mail.smtp.auth" value="${mail.smtp.auth}"/>
            <entry key="mail.smtp.starttls.enable" value="${mail.smtp.starttls.enable}"/>
            <entry key="mail.debug" value="${mail.debug}"/>
          </map>
        </property>
      </bean>
    </constructor-arg>
    <constructor-arg name="mailFromAddress" value="${simba.smtp.mail.from}"/>
  </bean>

  <bean class="org.simbasecurity.core.audit.provider.SystemOutAuditLogProvider" />

  <import resource="classpath:jms/activemq-embedded/jmsContext.xml" />
  
  <!-- switch between the db of your choice here -->
  <!-- <import resource="classpath:db/mysql/persistenceContext.xml" /> -->
  <import resource="classpath:db/hsqldb-embedded/persistenceContext.xml" />

  <import resource="classpath:simbaCoreContext.xml" />

  <import resource="classpath:chainContext.xml" />

  <!-- Dummy test data -->
  <jdbc:initialize-database ignore-failures="NONE" data-source="datasource">
    <jdbc:script location="classpath:/db/hsqldb-embedded/scripts/insert_test_data.sql" />
  </jdbc:initialize-database>

</beans>