<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

  <context:component-scan base-package="org.simbasecurity.refimpl" />

  <bean name="standardAuditLogProvider" class="org.simbasecurity.core.audit.provider.DatabaseAuditLogProvider">
    <property name="databaseTable" value="SIMBA_AUDIT_LOG" />
    <property name="level" value="ALL" />
  </bean>
  
  <bean name="archivedAuditLogProvider" class="org.simbasecurity.core.audit.provider.DatabaseAuditLogProvider">
    <property name="databaseTable" value="SIMBA_ARCHIVED_AUDIT_LOG" />
    <property name="level" value="INFO" />
  </bean>

  <bean class="org.simbasecurity.core.audit.provider.SystemOutAuditLogProvider" />

  <import resource="classpath:jms/activemq-embedded/jmsContext.xml" />
  
  <!-- switch between the db of your choice here -->
  <!-- <import resource="classpath:db/mysql/persistenceContext.xml" /> -->
  <import resource="classpath:db/hsqldb-embedded/persistenceContext.xml" />

  <import resource="classpath:simbaCoreContext.xml" />

  <import resource="classpath:chainContext.xml" />

  <!-- Dummy test data -->
  <jdbc:initialize-database ignore-failures="NONE" data-source="datasource">
    <jdbc:script location="classpath:/db/hsqldb-embedded/scripts/insert_test_data.sql" />
  </jdbc:initialize-database>

</beans>